<a href="https://colab.research.google.com/github/Lee11178/aipython/blob/main/20240102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program 2-6
Lab = 105
print("우리가 수업하는 실습실:")
print(Lab)

우리가 수업하는 실습실:
105

In [2]:
#Program 2-7
Lab = 105
print("우리가 수업하는 실습실:", Lab)

우리가 수업하는 실습실: 105

In [3]:
#Program 2-8
my_id = 201721284
grade = 3

print("나의 학번")
print(my_id)
print("학년 :")
print(grade)

나의 학번
201721284
학년 :
3

In [8]:
#Program 2-9
dollars = 2.75
print("I have", dollars, "in my account")

dollars = 99.95
print("But now I have", dollars, "in my account!")

I have 2.75 in my account
But now I have 99.95 in my account!

In [9]:
#Program 2-10
department = "기계공학부"
name = "이강현"

print(department, name)

기계공학부 이강현

In [13]:
#Program 2-11
department = input("학과명 : ")

name = input("성명 : ")

print("안녕하세요",department,name)

학과명 : 기계공학부
성명 : 이강현
안녕하세요 기계공학부 이강현

In [16]:
#Program 2-12
name = input("당신의 이름은 무엇입니까? ")
age = input("나이는 어떻게 되시나요? ")
attending_time = input("통학시간은 얼마나 걸립니까? ")

print("입력 정보는 다음과 같습니다.")
print("이름 :", name)
print("나이 : ", age)
print("통학시간 :", attending_time)

당신의 이름은 무엇입니까? 이강현
나이는 어떻게 되시나요? ㅇ
통학시간은 얼마나 걸립니까? ㅇ
입력 정보는 다음과 같습니다.
이름 : 이강현
나이 :  ㅇ
통학시간 : ㅇ

In [17]:
#Program 2-13

salaly = 2500.0

bonus = 1200.0

pay = salaly + bonus
print("총 급여 :", pay)

총 급여 : 3700.0

In [19]:
#Program 2-14
ogirinal_price = float(input("제품의 원가를 입력해주세요 :"))

discount = ogirinal_price*0.2

sale_price = ogirinal_price - discount

print("할인가격 : ", sale_price)

제품의 원가를 입력해주세요 :100
할인가격 :  80.0

In [20]:
#Program 2-15

test1 = float(input("첫 번째 과목 점수를 입력해주세요 :"))
test2 = float(input("두 번째 과목 점수를 입력해주세요 :"))
test3 = float(input("세 번째 과목 점수를 입력해주세요 :"))

average = (test1 + test2 + test3) / 3

print("3 과목의 평균 점수 :", average)

첫 번째 과목 점수를 입력해주세요 :90
두 번째 과목 점수를 입력해주세요 :80
세 번째 과목 점수를 입력해주세요 :100
3 과목의 평균 점수 : 90.0

In [23]:
#Program 2-16
total_seconds = float(input("시간 값을 초 단위로 입력해주세요 :"))

hours = total_seconds // 3600

minutes = (total_seconds // 60) %60

seconds = total_seconds %60

print('시 분 초는 다음과 같습니다.')
print('시: ', hours)
print('분: ', minutes)
print('초: ', seconds)

시간 값을 초 단위로 입력해주세요 :67
시 분 초는 다음과 같습니다.
시:  0.0
분:  1.0
초:  7.0

In [24]:
#Program 2-17
future_value = float(input("목표액을 입력해주세요 :"))

#연간 이율
rate = float(input("연간 이율을 입력해주세요 :"))

#적립 기간
years = int(input("저축 기간을 연 단위로 입력해주세요 :"))

#적립해야 할 금액
present_value = future_value / (1.0 + rate)**years

print("적립 금액 : ", present_value)

목표액을 입력해주세요 :100000
연간 이율을 입력해주세요 :0.05
저축 기간을 연 단위로 입력해주세요 :10
적립 금액 :  61391.32535407592

In [27]:
#Program 2-18

print("a","b","c")
print("a","b","c",sep='')
print("a","b","c",sep='***')

a b c
abc
a***b***c

In [29]:
#Program 2-19
print("a")
print("b")
print("c", end='')
print("d", end='')
print("e", end='***')
print("f")

a
b
cde***f

In [30]:
#Program 2-20
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print("월급여 :", monthly_payment)

월급여 : 416.6666666666667

In [31]:
#Program 2-21
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print("월급여 :", format(monthly_payment, '.2f'))

월급여 : 416.67

In [34]:
#Program 2-22
amount_due = 5000.0
annual_pay = amount_due * 12.0
print("연봉 $ :", format(annual_pay, ',.2f'))

연봉 $ : 60,000.00

In [35]:
#Program 2-23
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00